<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="attendance">

	<!-- seq 조회 -->
	<select id="attendSeq" resultType="int">
		select attend_seq.nextval from dual
	</select>
	
	<!-- 출결 등록 -->
	<insert id="attendRegist" parameterType="attendanceDto">
		insert into attendance values (#{attend_no}, #{subject_apply_no}, #{student_no}, #{profe_no}, #{semester_no}, #{attend_type}, sysdate)
	</insert>
	
	<!-- 출결 목록 -->
	<select id="getAttendList" parameterType="int" resultType="attendanceDto">
		select * from attendance a inner join subject_apply sa on a.subject_apply_no = sa.subject_apply_no inner join student stu on a.student_no = stu.student_no where sa.class_sub_no = #{class_sub_no}
	</select>	
	
	<!-- 수강 강의 날짜 조회 -->
<!-- 	<select id="getSubDate" parameterType="map" resultType="subjectApplyDto">
		SELECT * FROM subject_apply sa LEFT OUTER JOIN (
			SELECT class_sub_no, class_sub_start, class_sub_end, TO_CHAR(TO_DATE(class_sub_start, 'YYYY-MM-DD') + LEVEL + 1, 'dy') searchDay,  TO_CHAR(TO_DATE(class_sub_start, 'YYYY-MM-DD') + LEVEL - 1, 'MM/dd') searchDate 
				FROM (
					SELECT * FROM class_subject WHERE class_sub_no = #{class_sub_no}
				) CONNECT BY LEVEL <![CDATA[<=]]> TO_DATE(class_sub_end, 'YYYY-MM-DD') - TO_DATE(class_sub_start, 'YYYY-MM-DD') + 1
		) classDay ON sa.class_sub_no = classDay.class_sub_no WHERE sa.subject_apply_no = #{subject_apply_no}
	</select> -->


</mapper>
