<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="classSubject">

	<!-- seq 조회 -->
	<select id="subSeq" resultType="int">
		select class_sub_seq.nextval from dual
	</select>

	<!-- 강의 등록 -->
	<insert id="regist" parameterType="classSubjectDto">
		insert into class_subject values (
		#{class_sub_no}, 25, #{semester_no}, 14, #{class_sub_name}, #{class_sub_type}, #{class_sub_content}, 
		#{class_sub_person}, #{class_sub_start}, #{class_sub_end}, #{class_sub_point}, #{class_sub_room}, #{class_sub_week}, #{class_sub_time}, sysdate
		)
	</insert>
	
	<!-- 학기 번호 조회 -->
	<select id="getSemester" parameterType="map" resultType="semesterDto">
		select * from semester where semester_type = #{semester_type} and to_char(semester_start, 'YYYY') = #{this_year}
	</select>
	
	<!-- 학과 번호 조회(해당 교수) -->
<!-- 	<select id="getMajorNo" parameterType="int" resultType="int">
		select major_no from professor where profe_no = #{profe_no}
	</select> -->
	
	<!-- 강의 중복 검사 조회 -->
	<select id="getConfirm" resultType="classSubjectDto" parameterType="classSubjectDto">
		select * from class_subject where class_sub_room = #{class_sub_room} and class_sub_time = #{class_sub_time} and class_sub_week = #{class_sub_week} and semester_no = #{semester_no}
	</select>
	
	<!-- 강의 조회 -->
	<select id="getLecture" parameterType="classSubjectDto" resultType="classSubjectDto">
		select * from class_subject where semester_no = #{semester_no} and class_sub_week = #{class_sub_week} and class_sub_time = #{class_sub_time} and class_sub_name = #{class_sub_name} and class_sub_room = #{class_sub_room} 
	</select>
	
	<!-- 강의 목록(전체) -->
	<select id="lectureList" resultType="classSubjectDto">
		select * from class_subject order by class_sub_no desc
	</select>
	
	<!-- 강의 목록 (담당교수 표시) -->
	<select id="profeNameView" resultType="classSubjectDto">
		SELECT * FROM class_subject LEFT OUTER JOIN professor ON class_subject.profe_no = professor.profe_no
	</select>
	
		
	<!-- 강의 목록(로그인 교수) -->
	<select id="profList" resultType="classSubjectDto" parameterType="int">
		select * from class_subject where profe_no = #{profe_no} order by class_sub_no desc
	</select>
	
	<!-- 강의 검색 -->
	<select id="searchSub" parameterType="map" resultType="int">
		SELECT * FROM class_subject cs INNER JOIN semester s ON cs.semester_no = s.semester_no INNER JOIN major m ON cs.major_no = m.major_no 
		WHERE  to_char(s.semester_start, 'yyyy') = #{yearSearch}	AND s.semester_type = #{semesterSearch} AND cs.class_sub_type = #{typeSerach} AND m.major_type = #{majorSearch} AND instr(cs.class_sub_name, #{}) > 0 
		order by cs.class_sub_no desc
	</select>
	
	
	<!-- 강의 삭제 -->
	<delete id="classSubDel" parameterType="int">
		delete class_subject where class_sub_no = #{class_sub_no}
	</delete>
	


</mapper>
