<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="classSubject">

	<!-- seq 조회 -->
	<select id="classSubSeq" resultType="int">
		select class_sub_seq.nextval from dual
	</select>

	<!-- 강의 등록 -->
	<insert id="regist" parameterType="classSubjectDto">
		insert into class_subject values (
		#{class_sub_no}, #{profe_no}, #{semester_no}, #{major_no}, #{class_sub_name}, #{class_sub_type}, #{class_sub_content}, 
		#{class_sub_person}, #{class_sub_start}, #{class_sub_end}, #{class_sub_point}, #{class_sub_room}, #{class_sub_week}, #{class_sub_time1}, sysdate, #{class_sub_time2}, #{class_sub_time3}, #{class_sub_time4} 
		)
	</insert>
	
	<!-- 학기 번호 조회 -->
	<select id="getSemester" parameterType="map" resultType="semesterDto">
		select * from semester where semester_type = #{semester_type} and to_char(semester_start, 'YYYY') = #{this_year}
	</select>
	
	<!-- 교수 학과 조회 -->
	<select id="getProfeMajor" parameterType="professorDto" resultType="professorDto">
		select * from professor p inner join major m on p.major_no = m.major_no where p.profe_no = #{profe_no} and p.profe_name = #{profe_name}
	</select>
	
	
	<!-- 강의 단일 조회(번호) -->
	<select id="get" parameterType="int" resultType="classSubjectDto">
		select * from class_subject cs inner join semester s on cs.semester_no = s.semester_no inner join major m on cs.major_no = m.major_no left outer join professor p on cs.profe_no = p.profe_no where class_sub_no = #{class_sub_no}
	</select>
		
	<!-- 강의 중복 검사 조회 -->
	<select id="getConfirm" resultType="classSubjectDto" parameterType="classSubjectDto">
		select * from class_subject where class_sub_room = #{class_sub_room} and class_sub_week = #{class_sub_week} and semester_no = #{semester_no} and class_sub_time1 = #{class_sub_time1} 
		<if test="class_sub_time2 != 'null'">
			and class_sub_time2 = #{class_sub_time2} 
		</if>
		<if test="class_sub_time3 != 'null'">
			and class_sub_time3 = #{class_sub_time3} 
		</if>
		<if test="class_sub_time4 != 'null'">
			and class_sub_time4 = #{class_sub_time4} 
		</if>
	</select>
	
	<!-- 강의 목록(전체) -->
	<select id="lectureList" resultType="classSubjectDto">
		select * from class_subject order by class_sub_no desc
	</select>
	
	<!-- 강의 목록 (담당교수 표시) -->
	<select id="getNameList" resultType="classSubjectDto">
		select * from class_subject cs inner join semester s on cs.semester_no = s.semester_no inner join major m on cs.major_no = m.major_no left outer join professor p on cs.profe_no = p.profe_no order by class_sub_no desc
	</select>
	
	<!-- 강의 목록 -->
	<select id="loginProfeList" resultType="classSubjectDto" parameterType="int">
		select * from class_subject cs inner join semester s on cs.semester_no = s.semester_no inner join major m on cs.major_no = m.major_no left outer join professor p on cs.profe_no = p.profe_no where cs.profe_no = #{profe_no} order by class_sub_no desc
	</select>
	
	<!-- 강의 검색 -->
	<select id="searchClassSub" parameterType="map" resultType="classSubjectDto">
		select * from class_subject cs inner join semester s on cs.semester_no = s.semester_no inner join major m on cs.major_no = m.major_no left outer join professor p on cs.profe_no = p.profe_no
		where 1=1 
		<if test="yearSearch != 'null'">
			and to_char(s.semester_start, 'yyyy') = #{yearSearch}			
		</if>
		<if test="semesterSearch != 'all'">
			and s.semester_type = #{semesterSearch} 
		</if>
		<if test="typeSearch != 'all'">
			and cs.class_sub_type = #{typeSearch} 
		</if>
		<if test="majorSearch != 'all'">
			and m.major_type = #{majorSearch} 
		</if>
		<if test="classSubSearch != 'null'">
			and instr(cs.class_sub_name, #{classSubSearch}) <![CDATA[>]]> 0 
		</if>
		order by class_sub_no desc
	</select>
	
	
	<!-- 강의 삭제 -->
	<delete id="classSubDel" parameterType="int">
		delete class_subject where class_sub_no = #{class_sub_no}
	</delete>
	
	
	<!-- 강의 수정 -->
	<update id="classSubEdit" parameterType="classSubjectDto">
		update class_subject set class_sub_name = #{class_sub_name}, class_sub_type = #{class_sub_type}, class_sub_point = #{class_sub_point}, class_sub_person = #{class_sub_person}, semester_no = #{semester_no}, 
		class_sub_week = #{class_sub_week},  class_sub_room = #{class_sub_room}, class_sub_start = #{class_sub_start}, class_sub_end = #{class_sub_end}, class_sub_content = #{class_sub_content}, 
		class_sub_time1 = #{class_sub_time1}, class_sub_time2 = #{class_sub_time2}, class_sub_time3 = #{class_sub_time3}, class_sub_time4 = #{class_sub_time4} 
		where class_sub_no = #{class_sub_no}
	</update>
	
	


</mapper>
