<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<!-- properties : 이 문서 또는 외부에서 사용할 변수 -->
	<properties></properties>
	
	<!-- settings : myBatis 실행 중 반영되어야 할 규칙을 지정 -->
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="autoMappingBehavior" value="FULL"/>
	</settings>
	


<!-- 	typeAliases : 클래스에 부여하는 별칭 -->
	<typeAliases>
		<typeAlias type="com.kh.springFinal.entity.StudentDto" alias="studentDto"/>
		<typeAlias type="com.kh.springFinal.entity.ProfessorDto" alias="professorDto"/>

		<typeAlias type="com.kh.springFinal.entity.ClassSubjectDto" alias="classSubjectDto"/>
		<typeAlias type="com.kh.springFinal.entity.ClassSubjectFileDto" alias="classSubjectFileDto"/>
		<typeAlias type="com.kh.springFinal.entity.MajorDto" alias="majorDto"/>

	</typeAliases>
</configuration>