<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
		- namespace : 영역을 외부에서 부르기 위한 별칭
 -->
<mapper namespace="professor">

<!--
	
	알아야 할 설정값
	- id : 구문을 외부에서 호출하기 위한 식별값
	- parameterType : 구문을 실행하기 위해 필요한 데이터 유형(매개변수와 유사)
	- resultType : 구문이 실행된 결과 유형(반환형과 유사)
-->

	<!-- 교수 번호 -->
	<select id="seq" resultType="int">
		SELECT PROFESSOR_SEQ.NEXTVAL FROM DUAL
	</select>
	
    <!-- 교수 정보 등록 -->
	<insert id="regist" parameterType="professorDto">
		INSERT INTO professor(
			profe_no, semester_no, major_no, profe_name , profe_id,	
			profe_pw, profe_gender, profe_birth, profe_phone, profe_email, profe_post, 
			profe_addr, profe_extra_addr, profe_auth, profe_date
			)VALUES(
			#{profe_no}, #{semester_no}, #{major_no}, #{profe_name}, #{profe_id},
			#{profe_pw}, #{profe_gender}, #{profe_birth}, #{profe_phone}, #{profe_email}, #{profe_post},
			#{profe_addr}, #{profe_extra_addr}, '교수', SYSDATE)
		
	</insert>

	<!-- 교수 단일 조회 -->
	<select id="get" parameterType="int" resultType="professorDto">
		SELECT*FROM professor WHERE profe_no=#{profe_no}
	</select>


	<!--교수 아이디 단일 조회 -->
	<select id="getId" parameterType="String" resultType="professorDto">
		SELECT*FROM professor WHERE profe_id=#{profe_id}

	</select>

	<!-- 교수 학과 단일 조회 -->
	<select id="getMajor" parameterType="int" resultType="majorDto">
	SELECT m.* FROM PROFESSOR p INNER JOIN MAJOR m ON p.MAJOR_NO = m.MAJOR_NO WHERE p.PROFE_NO = #{profe_no}
	</select>
	
	<!-- 교수 학기명 단일 조회(체크박스) -->
	<select id="getSem" parameterType="int" resultType="semesterDto">
	SELECT s.* FROM PROFESSOR p INNER JOIN SEMESTER s ON p.SEMESTER_NO = s.SEMESTER_NO  WHERE p.profe_no=${profe_no}
	</select>
	
	<!-- 교수 정보 수정 -->
	<update id="edit" parameterType="professorDto">
		UPDATE PROFESSOR SET SEMESTER_NO=#{SEMESTER_NO}, MAJOR_NO=#{MAJOR_NO}, PROFE_NAME=#{PROFE_NAME}, 
		PROFE_PW=#{PROFE_PW}, PROFE_BIRTH=#{PROFE_BIRTH}, PROFE_PHONE=#{PROFE_PHONE},PROFE_EMAIL=#{PROFE_EMAIL}, 
		PROFE_POST=#{PROFE_POST}, PROFE_ADDR=#{PROFE_ADDR}, PROFE_EXTRA_ADDR=#{PROFE_EXTRA_ADDR}  
		WHERE PROFE_NO=#{PROFE_NO};
	</update>

	<select id="profe_login" parameterType="professorDto" resultType="professorDto">
   		select * from professor where profe_id = #{profe_id} and profe_pw = #{profe_pw}
   	</select>

	<!--데이터 중복 여부 확인 -->
	<select id="isExist" resultType="int">
		SELECT PROFE_ID , COUNT(*) FROM PROFESSOR p GROUP BY p.PROFE_ID HAVING count(*)>0;
	</select>
</mapper>


