<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="school">

	<insert id="apply" parameterType="schoolOffDto">
		INSERT INTO SCHOOL_OFF(
		school_off_no,
		student_no,
		school_off_regist,
		school_off_type,
		school_off_period,
		school_off_regist_date
		)
		VALUES(
		school_off_no_seq.nextval,
		#{student_no},
		#{school_off_regist},
		#{school_off_type},
		#{school_off_period},
		sysdate
		)
	</insert>



	<select id="numb" parameterType="int" resultType="schoolOffDto">
		SELECT * FROM
		SCHOOL_OFF WHERE student_no=#{student_no}
	</select>


	<select id="getList2" resultType="schoolReturnDto">
		SELECT * FROM SCHOOL_RETURN so
		LEFT OUTER JOIN student st ON so.student_no = st.student_no
		ORDER BY
		SCHOOL_RETURN_no DESC
	</select>


	<select id="getList" resultType="schoolOffDto">
		SELECT * FROM SCHOOL_OFF so
		LEFT OUTER JOIN student st ON so.student_no = st.student_no
		ORDER BY
		school_off_no DESC
	</select>

	<select id="numb2" parameterType="int"
		resultType="schoolReturnDto">
		SELECT * FROM SCHOOL_Return WHERE student_no=#{student_no}
	</select>

	<insert id="return" parameterType="schoolReturnDto">
		INSERT INTO SCHOOL_Return(
		school_return_no,
		student_no,
		school_return_date,
		school_return_type
		)
		VALUES(
		school_return_seq.nextval,
		#{student_no},
		#{school_return_date},
		'복학'
		)
	</insert>



</mapper>




