<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	mapper는 구문을 만들 수 있는 영역
	일반적으로 테이블당 1개씩 mapper를 둔다아
	
	-namespace : 영역을 외부에서 부르기 위한 별칭
	
	알아야 할 설정값
	- id : 구문을 외부에서 호출하기 위한 식별값
	- parameterType : 구문을 실행하기 위해 필요한 데이터유형
	- resultTypre : 구문이 실행된 결과 유형(반환형과 유사)
 -->
 
<mapper namespace="subjectApply">	
	  <insert id="apply_class" parameterType="subjectapplyDto">
   
      INSERT INTO subject_apply VALUES(
      					subject_apply_no_seq.nextval, 
                        #{class_sub_no},
                        #{major_no},
                        #{student_no},
                        #{subject_apply_name},
                        sysdate,
                        '신청'
                           )
   
   	</insert>
   	
   	<select id="apply_seq" resultType="int">
		SELECT subject_apply_no_SEQ.NEXTVAL FROM DUAL
	</select>
   	
   	<select id="apply_list" parameterType="classSubjectDto" resultType="classSubjectDto">
<!--    		select * from class_subject where to_char(regist_date,'yyyy') = #{regist_date} and major_no = #{major_no} and semester_no = #{semester_no} -->
<!-- 		SELECT * FROM CLASS_SUBJECT cs LEFT OUTER JOIN SUBJECT_APPLY sa ON cs.CLASS_SUB_NO = sa.CLASS_SUB_NO LEFT OUTER JOIN PROFESSOR pr ON cs.PROFE_NO = pr.PROFE_NO WHERE TO_CHAR(cs.REGIST_DATE,'yyyy') = #{regist_date} AND cs.major_no = #{major_no} AND cs.SEMESTER_NO = #{semester_no} -->
		SELECT * FROM CLASS_SUBJECT cs LEFT OUTER JOIN PROFESSOR pr ON cs.PROFE_NO = pr.PROFE_NO WHERE TO_CHAR(cs.REGIST_DATE,'yyyy') = #{regist_date} AND cs.major_no = #{major_no} AND cs.SEMESTER_NO = #{semester_no}

   	</select>
   	
   	<select id="apply_check" parameterType="classSubjectDto" resultType="classSubjectDto">
		SELECT * FROM CLASS_SUBJECT cs LEFT OUTER JOIN SUBJECT_APPLY sa ON cs.CLASS_SUB_NO = sa.CLASS_SUB_NO LEFT OUTER JOIN PROFESSOR pr ON cs.PROFE_NO = pr.PROFE_NO WHERE TO_CHAR(cs.REGIST_DATE,'yyyy') = #{regist_date} AND cs.major_no = #{major_no} AND cs.SEMESTER_NO = #{semester_no} AND sa.student_no=#{student_no}
   	</select>
   	<select id="get_semester" parameterType="semesterDto" resultType="semesterDto">
   		select * from semester where to_char(semester_start,'yyyy') = #{semester_start} and semester_type=#{semester_type}
   	</select>
   	
   	<select id="get_major" parameterType="majorDto" resultType="majorDto">
   		select * from major where major_type=#{major_type}
   	</select>
   	
   	<select id="get_profeName" resultType="classSubjectDto">
   		select * from class_subject left outer join professor on class_subject.profe_no = professor.profe_no
   	</select>
   	
   	<select id="get_check" parameterType="subjectapplyDto" resultType="subjectapplyDto">
   		select * from subject_apply where class_sub_no = #{class_sub_no} and student_no=#{student_no}
   	</select>
   	
   	<select id="sub_list" parameterType="subjectapplyDto" resultType="subjectapplyDto">
   		select * from subject_apply where student_no = #{student_no}
   	</select>
   	
   	<select id="class_list" parameterType="int" resultType="classSubjectDto">
   		select * from class_subject where class_sub_no = #{class_sub_no}
   	</select>
   	
   	<select id="all_class_list" resultType="classSubjectDto">
   		select * from class_subject order by class_sub_no desc
   	</select>
   	
   	<select id="class_numb" parameterType="subjectapplyDto" resultType="subjectapplyDto">
   		SELECT * FROM subject_apply WHERE CLASS_SUB_NO = #{class_sub_no};
   	</select>
   	
   	<select id="st_class_apply_list" parameterType="classSubjectDto" resultType="classSubjectDto">
   		SELECT * FROM CLASS_SUBJECT cs LEFT OUTER JOIN SUBJECT_APPLY sa ON cs.CLASS_SUB_NO = sa.CLASS_SUB_NO WHERE cs.SEMESTER_NO = #{semester_no} and sa.STUDENT_NO = #{student_no}
   	</select>
   	
   	<delete id="st_class_apply_list_del" parameterType="int">
   		delete subject_apply where class_sub_no = #{class_sub_no}
   	</delete>
   	
   	<select id="get_subject" parameterType="subjectapplyDto" resultType="subjectapplyDto" >
   		select * from subject_apply where class_sub_no = #{class_sub_no} and student_no = #{student_no}
   	</select>
   	<!-- 수강목록 -->
   	<select id="getProfeApplyList" parameterType="int" resultType="subjectapplyDto">
   		select * from subject_apply sa left outer join class_subject cs on sa.class_sub_no = cs.class_sub_no inner join major m on sa.major_no = m.major_no inner join semester s on cs.semester_no = s.semester_no where cs.profe_no = #{profe_no}
   	</select>
	
</mapper>

