@charset "UTF-8";

  /*
            toggle : 두 가지 상태를 왔다갔다 하는 것
            활성화가 되어있으면 나타나고 아니면 사라지게 만든다 (활성화 상태 : .on 또는 .active)
        */
        html, body {
            margin: 0;
            padding: 0;
        }
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            width: 150px;
            margin-left: -250px;
            
            /*
                sidebar에 특정 속성에 대한 애니메이션 설정
                 : margin-left(대상)가 몇 초만에 바뀌게 할 건지 설정
            
                <timing function>
                - linear : 시작부터 끝까지 동일한 속도로 진행
                - ease-in-out : 처음과 끝이 느리게 진행
                - ease-in : 처음만 느리게
                - ease-out : 끝이 느리게
            */
            transition: margin-left 0.5s ease-in-out; 
            
            
        }
        .sidebar.active {
            
            margin-left: 0px;
            
        }
       /* .container {
            position: absolute;
            margin-left: 0px;
            padding-right: 0px;
            padding-left: 0px;
            transition: margin-left 0.5s ease-in-out;
            
        }*/
        .container2 {
           /* position: absolute;*/
            margin-left: 0px;
            padding-right: 0px;
            padding-left: 0px;
            transition: margin-left 0.5s ease-in-out;
            
        }
        /* sidebar에 변화가 생기면 container도 변경 */
        .sidebar.active + .container2 {
            margin-left: 250px;
        
        }
        .up_background{
            background-color: #063e7a;
            height: 50px;
        }
        .up_background2{
            background-color: #063e7a;
            height: 50px;
            display: flex;
        }

        .list-item{
            position: relative;
            display: block;
            padding: .75rem 1.25rem;
            background-color: #233144;
            color: white;
        }
        .list-item:hover{
            position: relative;
            display: block;
            padding: .75rem 1.25rem;
            background-color: #5165e1;
            color: white;
        }
        .list-group-item:hover{
            background-color: #5165e1;
            color: white;
        }
        .btn_slide{
            
            border: 0;
            outline: 0;
            color: white;
            font-size: 30px;
            left: 10px;
            overflow: hidden;
            background-color: #063e7a;
            margin-left: 20px;
        }
        .btn_slide:focus{
            
            border: 0;
            outline: 0;
            color: white;
            font-size: 30px;
            left: 10px;
            overflow: hidden;
            background-color: #063e7a;
            margin-left: 20px;
        }
     
        .title-logo{
            color: white;
            
        }
        .btn_logout{
            border: 0;
            outline: 0;
            color: white;
            font-size: 30px;
            left: 10px;
            overflow: hidden;
            background-color: #063e7a;
            
        }
        .btn_info{
            border: 0;
            outline: 0;
            color: white;
            font-size: 30px;
            left: 10px;
            overflow: hidden;
            background-color: #063e7a;
            
        }